
-- Predefined paths: minecraft_path and eihort_path
-- Both of these can be overridden here if necessary

-- Path to the minecraft jar - this must exist for Eihort to function
minecraft_jar = minecraft_path .. "bin/minecraft.jar";

world_paths = {
    -- Format: { PATH, R, G, B };
    -- RGB is the colour of the background of the button to select
    -- worlds in that folder
    { minecraft_path .. "saves/", 0.15, 0.4, 0.8 };
    { "./", 0.15, 0.6, 0.3 };
    
    -- Add other paths to folders containing worlds here
    -- NOTE: If your path has backslashes, you will have to double them,
    --       as in "C:\\MyWorlds"
}

-- Fill in the following line to use a texture pack:
texture_pack = minecraft_path .. "texturepacks/???.zip";

-- Path and name of screenshot files (.png will be appended by Eihort)
-- The possible variables are those accepted by the strftime function
-- See www.cplusplus.com/strftime for the list
-- You may also use %O for the wOrld name.
screenshot_path = eihort_path .. "screenshots/eihort-%Y.%m.%d-%H.%M.%S";

-- Screen options
fullscreen = false;
screenwidth = 1024;
screenheight = 768;
multisample = 4;
anisotropy = 4;
fov = 75;

-- Info display
show_triangles = false;
show_vram_use = true;
show_region_file = false;

-- Speed changes with shift/control
speedup_modifier = 8;
slowdown_modifier = 1/8;

-- Key bindings
-- Valid keys are those listed under SDL_Keycode Value at
-- http://wiki.libsdl.org/moin.cgi/SDL_Keycode, without the "SDLK_"
keys = {
  a = 'moveleft';
  s = 'moveback';
  w = 'moveforward';
  d = 'moveright';
  x = 'moveup';
  z = 'movedown';
  ['['] = 'viewdist-';
  [']'] = 'viewdist+';
  pagedown = 'viewdist-';
  pageup = 'viewdist+';
  t = 'time+';
  y = 'time-';

  r = 'reloadworld';
  l = 'changelightmode';
  n = 'changemoonphase';
  o = 'resetposition';
  p = 'playerposition';
  f1 = 'toggleui';
  f2 = 'screenshot';
  escape = 'freemouse';
  m = 'togglemonitor';

  -- Experimental spline keys
  space = 'splineadd';
  ['0'] = 'splineerase';
  ['1'] = 'splinet+';
  ['2'] = 'splinet-';
  ['3'] = 'splineend';
  ['4'] = 'splinestart';
  ['`'] = 'splinepop';

  lshift = 'speedup';
  rshift = 'speedup';
  lctrl = 'slowdown';
  rctrl = 'slowdown';
};

-- Mouse sensitivity (in radians per pixel)
mouse_sensitivity_x = 0.008;
mouse_sensitivity_y = 0.01; -- Set it negative to invert the Y axis

-- Movement speeds (in blocks per second)
movement_speed = 50;
view_distance_speed = 50;
time_speed = 3; -- In hours per second
spline_speed = 0.4; -- In control points per second

-- Position when O is pressed
origin_x = 0;
origin_y = 100;
origin_z = -20;
origin_pitch = -0.7; -- In radians, pi/2 is up, -pi/2 is down
origin_azimuth = 0;

-- Initial world settings
start_time = 0; -- -1 and 1 are midnight, 0 is noon
start_view_distance = 500;

-- FPS Limiter
fps_limit = 60;


------------------------------------------------------------------------------
-- Advanced settings:

-- World quadtree leaf size (actual size is 2^qtree_leaf_size)
-- Range is 2 - 12. < 5 is tiny, 7 is good, > 9 is HUGE.
-- Smaller loads faster, but renders slower
qtree_leaf_size = 7;

-- Maximum amount of space that Eihort will use to store world data (meshes, 
-- textures, etc..) on the GPU (in MB)
-- Set it to 0 to autodetect (may not work on non-nVidia or AMD cards)
max_gpu_mem = 0;

-- If set to true, Eihort will continually redraw frames, even if nothing
-- changes. Useful when capturing video from Eihort.
disable_cpu_saver = false;

-- Number of worker threads to use to load the world.
-- Set to 0 to autodetect
worker_threads = 0;

